body {
	padding-top: 80px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right 0px bottom 0px;
	background-image: url('/img/mj-320.jpg');
}

.hide-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.white {
	color: #FFFFFF;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}