<!DOCTYPE html>
<html lang="pt-BR" ng-app="jacksonApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Jackson Bot - eBrasil</title>

<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/fontawesome/4.2.0/css/font-awesome.min.css">

<!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<script>
	(function(i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function() {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o), m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js',
			'ga');
	ga('create', 'UA-866073-9', 'auto');
</script>

<link rel="apple-touch-icon" sizes="57x57"
	href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114"
	href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72"
	href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144"
	href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60"
	href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120"
	href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76"
	href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152"
	href="/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180"
	href="/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/favicon-192x192.png"
	sizes="192x192">
<link rel="icon" type="image/png" href="/favicon-160x160.png"
	sizes="160x160">
<link rel="icon" type="image/png" href="/favicon-96x96.png"
	sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-16x16.png"
	sizes="16x16">
<link rel="icon" type="image/png" href="/favicon-32x32.png"
	sizes="32x32">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">

</head>
<body ng-controller="JacksonCtrl" ga="'send', 'pageview', '/'"
	ga-on="init">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
			 	<button type="button" class="navbar-toggle collapsed" 
			 		data-toggle="collapse" data-target="#navbar">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
				<a class="navbar-brand" target="_blank"
					href="http://www.erepublik.com/en/economy/donate-money/5313713"
					ga="'send', 'event', 'erep', 'click', 'sponsor'">
					Jackson Bot
				</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<p class="navbar-text">Correndo atrás dos novinhos do eBR</p>
				<form class="navbar-form navbar-right">
					<div class="btn-group" ng-if="user">
						<button type="button" class="btn btn-default" data-toggle="modal"
							data-target="#feedback"
							ga="'send', 'pageview', '/feedback'"
							title="Feedback">
							<span class="fa fa-comment-o"></span>
						</button>
					</div>
					<div class="btn-group" ng-if="user">
						<button type="button" class="btn btn-default" data-toggle="modal"
							data-target="#config" ng-click="configClick()"
							ga="'send', 'pageview', '/config'"
							title="Configurações">
							<span class="fa fa-cog"></span>
						</button>
					</div>
					<div class="btn-group">
						<a type="button" class="btn"
							ng-class="user ? 'btn-danger' : 'btn-success'"
							title="{{user ? 'Logout' : 'Login'}}"
							href="/login"
							ga="'send', 'pageview', '/login'">
							<span class="fa fa-power-off"></span>
							<span ng-if="!user">Fazer login</span>
						</a>
					</div>
				</form>
				<form class="navbar-form navbar-right hidden-xs hidden-sm" role="search"
					ng-submit="load()" ga-on="submit"
					ng-if="user && user.hasLicence"
					ga="[
 						 ['send', 'event', 'search', 'submit'],
 						 ['send', 'pageview', '/'] 
 						]"> 
					<div class="form-group">
						<input type="date" class="form-control" 
							min="2013-05-28"
							max="{{maxDate}}" 
							placeholder="aaaa-MM-dd" 
							ng-model="$parent.loadDate">
					</div>
					<button type="submit" class="btn btn-success"
						title="{{ JacksonChart.series[0].data.length }} dias carregados">
						<span class="fa fa-search"> </span>
					</button>
				</form>
			</div>
		</div>
	</nav>
	<div class="container">
		<noscript>
			<div class="alert alert-danger text-center" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign"></span> O
				JavaScript está desativado ):
			</div>
		</noscript>
		<div class="alert alert-info alert-dismissible fade in" role="alert"
			ng-if="(!user || !user.hasLicence)">
			<button type="button" class="close" 
					ng-click="$storage.closedPROAlert = !$storage.closedPROAlert"
					ga="'send', 'event', 'pro alert', 'click'">
				<span ng-if="!$storage.closedPROAlert" class="fa fa-caret-up"></span>
				<span ng-if="$storage.closedPROAlert" class="fa fa-caret-down"></span>
			</button>
			<h4>Assine e aproveite!</h4>
			<ul ng-if="!$storage.closedPROAlert" class="animate-if">
				<li>Dados de novos jogadores desde jun/2013!</li>
				<li>Atualização mais freqüente, mostrando os novos jogadores de hoje!</li>
				<li>Filtre jogadores por nível, jornal, MU, etc!</li>
				<li>Marque para quem você já enviou mensagem!</li>
			</ul>
			<p ng-if="!user">
				<a href="/login" ga="'send', 'pageview', '/login'">Faça seu primeiro login e ganhe 3 dias gratuitos!</a>
			</p>
			<p ng-if="user">Compre seu pacote no 
				<a href="http://qchat.rizon.net/?channels=jackson"
				ga="'send', 'pageview', '/chat'">#jackson</a>
				: 30d = 5g, 6m = 24g, 12m = 36g
			</p> 
		</div>
		<highchart class="hidden-xs" id="chart" config="JacksonChart"></highchart>
		<div class="visible-xs">
			<div class="alert alert-info text-center" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign"></span> 
				Você precisa de uma resolução maior para conseguir ver o gráfico (:
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<button type="button" class="btn btn-lg btn-block btn-success"
					ng-if="user"
					ng-click="select()"
					ga="[
						 ['send', 'event', 'button', 'click', 'view new button'], 
						 ['send', 'pageview', '/details']
						]">
					Ver novos jogadores do dia {{selectedDay}}!
				</button>
				<a class="btn btn-lg btn-block btn-success" href="/login"
					ng-if="!user">Faça seu login / registre-se, é gratuito!</a>
			</div>
		</div>
	</div>
	
	<div ng-if="user" class="modal fade" id="feedback" tabindex="-2" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						ga="[
								 ['send', 'event', 'button', 'click', 'close top'],
								 ['send', 'pageview', '/']
								]">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Envie seu feedback</h4>
				</div>
				<div class="modal-body">
					<form ng-if="user">
						<div class="form-group">
    						<label>{{user.email}}</label>
    						<textarea class="form-control" rows="3"
    							id="feedbackMessage"
    							ng-model="feedbackMessage"
    							required
    							placeholder="Nos envie suas sugestões!"></textarea>
  						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal"
						ng-click="sendFeedback()"
						ga="[
							 ['send', 'event', 'feedback', 'click', 'send'],
							 ['send', 'pageview', '/']
							]">
						Enviar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ga="[
							 ['send', 'event', 'button', 'click', 'close'],
							 ['send', 'pageview', '/']
							]">
						Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="config" tabindex="-2" role="dialog" ng-if="user">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						ga="[
								 ['send', 'event', 'button', 'click', 'close top'],
								 ['send', 'pageview', '/']
								]">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Configurações</h4>
				</div>
				<div class="modal-body">
					<form>
						<div>
							<span class="fa fa-user"></span>
							<a ng-href="http://www.erepublik.com/en/citizen/profile/{{user.id}}">{{user.nick}}</a>
						</div>
						<div>
							<span class="fa fa-envelope-o"></span>
							<span>{{user.email}}</span> 
						</div>
						<div>
							<span class="fa fa-angellist"></span>
							<span>{{user.party}}</span> 
						</div>
						<div>
							<span class="fa fa-flag-o"></span>
							<span>{{user.mu}}</span> 
						</div>
						<div>
							<span class="fa fa-calendar"></span>
							<span>Licença PRO até: </span>
							<span ng-class="licenceExpired() ? 'text-danger' : 'text-success'">
								{{user.expires}}
							</span>
						</div>
					</form>
					<div class="checkbox">
						<label> <input type="checkbox"
							ng-model="$storage.apiEnabled"
							ga="'send', 'event', 'checkbox', 'click', 'config auto fetch'">
							Ativar busca automática de jogadores
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ga="[
							 ['send', 'event', 'button', 'click', 'close'],
							 ['send', 'pageview', '/']
							]">
						Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="newUsers" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header text-center">
					<button type="button" class="btn btn-default pull-left"
						ng-click="minusOne()"
						ga="[
							 ['send', 'event', 'details', 'click', 'minusOne'],
							 ['send', 'pageview', '/details']
							]">
						<span class="fa fa-angle-left"></span>
					</button>
					<span class="modal-title h4">{{ selectedNewPlayers.length }}
						novos jogadores no dia {{ selectedDay }}</span>
					<button type="button" class="btn btn-default pull-right"
						ng-click="plusOne()"
						ga="[
							 ['send', 'event', 'details', 'click', 'plusOne'],
							 ['send', 'pageview', '/details'] 
							]">
						<span class="fa fa-angle-right"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row" ng-if="user && user.hasLicence">
						<div class="col-md-offset-1 col-md-10">
							<div class="panel-group" id="accordion" role="tablist">
	  							<div class="panel panel-default">
	    							<div class="panel-heading" role="tab" id="headingOne">
	      								<h4 class="panel-title">
	        								<a data-toggle="collapse" data-parent="#accordion" href="#filters"
	        								ga="'send', 'event', 'filters', 'click', 'open/close'">
	          									Esconder jogadores...
	        								</a>
	        								<a class="pull-right" 
	        									data-toggle="collapse" data-parent="#accordion" href="#filters"
	        									ga="'send', 'event', 'filters', 'click', 'open/close'">
	        									<span class="fa fa-ellipsis-v"></span>
	        								</a>
	      								</h4>
	    							</div>
	    							<div id="filters" class="panel-collapse collapse in" role="tabpanel">
	      								<div class="panel-body">
	      									<div class="row">
	      										<div class="col-md-3 col-xs-6">
	      											<div class="checkbox">
        												<label>
          													<input type="checkbox" ng-model="$storage.search.avatar"
          													ga="'send', 'event', 'filters', 'click', 'avatar'"> Sem avatar
        												</label>
      												</div>
	      										</div>
	      										<div class="col-md-3 col-xs-6">
	      											<div class="checkbox">
        												<label>
          													<input type="checkbox" ng-model="$storage.search.party"
          													ga="'send', 'event', 'filters', 'click', 'party'"> Com partido
        												</label>
      												</div>
	      										</div>
	      										<div class="col-md-3 col-xs-6">
	      											<div class="checkbox">
        												<label>
          													<input type="checkbox" ng-model="$storage.search.newspaper"
          													ga="'send', 'event', 'filters', 'click', 'newspaper'"> Sem jornal
        												</label>
      												</div>
	      										</div>
	      										<div class="col-md-3 col-xs-6">
	      											<div class="checkbox">
        												<label>
          													<input type="checkbox" ng-model="$storage.search.mu"
          													ga="'send', 'event', 'filters', 'click', 'mu'"> Sem unidade militar
        												</label>
      												</div>
	      										</div>
	      									</div>
	      									<div class="row">
	      										<div class="col-md-3 col-xs-6">
	      											<div class="checkbox">
        												<label>
          													<input type="checkbox" ng-model="$storage.search.alive"
          													ga="'send', 'event', 'filters', 'click', 'alive'"> Mortos/Banidos 
        												</label>
      												</div>
	      										</div>
	      										<div class="col-md-3 col-xs-6">
	      											<div class="checkbox">
        												<label>
          													<input type="checkbox" ng-model="$storage.search.level"
          													ga="'send', 'event', 'filters', 'click', 'level'"> Nível 1
        												</label>
      												</div>
	      										</div>
	      										<div class="col-md-3 col-xs-6">
	      											<div class="checkbox">
        												<label>
          													<input type="checkbox" ng-model="$storage.search.friends"
          													ga="'send', 'event', 'filters', 'click', 'friends'"> Sem amigos
        												</label>
      												</div>
	      										</div>
	      										<div class="col-md-3 col-xs-6">
	      											<div class="checkbox">
        												<label>
          													<input type="checkbox" ng-model="$storage.search.messaged"
          													ga="'send', 'event', 'filters', 'click', 'messaged'"> Com mensagem enviada
        												</label>
      												</div>
	      										</div>
	      									</div>
	      								</div>
	      							</div>
	      						</div>
	      					</div>
	      				</div>
					</div>
					<div class="row">
						<div ng-repeat="player in selectedNewPlayers | filter:doSearch">
							<div class="col-md-1 col-xs-2"
								ng-class="'[online]' === player.query.status ? 'bg-success' : ''">
								<div class="row">
									<img ng-src="{{player.avatar || '/img/profile_avatar.png'}}"
										width="63px"
										class="img-responsive img-thumbnail col-md-offset-1 col-xs-offset-2"></img>
								</div>
								<div class="row">
									<div class="label col-md-offset-1 col-md-10 col-xs-offset-2 col-xs-7"
										ng-class="(player.query.dead || player.query.ban) ? 'label-default' 
													 : '[online]' === player.query.status ? 'label-success' 
													 								: 'label-primary'">
										<div class="row" title="Nível">
											{{player.query.level}} <small> <span class="fa"
												ng-class="player.query.ban ? 'fa-ban' 
																: player.query.dead ? 'fa-times'
																: 'fa-line-chart'">
											</span>
											</small>
										</div>
										<div class="row" title="Amigos">
											<a target="_blank" class="white"
												ga="'send', 'event', 'erep', 'click', 'friends'"
												ng-href="http://www.erepublik.com/en/main/citizen-friends/{{player.id}}">{{player.query.friends}}</a>
											<small> <span class="fa fa-users"></span>
											</small>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-5 col-xs-9"
								ng-class="'[online]' === player.query.status ? 'bg-success' : ''">
								<div class="row hide-overflow">
									<a target="_blank"
										ga="'send', 'event', 'erep', 'click', 'player'"
										ng-href="http://www.erepublik.com/en/citizen/profile/{{player.id}}">
										{{player.query.name || player.id }}
									</a> 
									<a target="_blank"
										ga="'send', 'event', 'erep', 'click', 'message'"
										ng-href="http://www.erepublik.com/en/main/messages-compose/{{player.id}}"
										ng-click="markSent(player)">
											<small>{{!user || !user.hasLicence ? '(' : isSent(player) ?
													'(enviada ' : '(enviar ' }}</small>
											<span class="fa"
												ng-class="user && user.hasLicence && isSent(player) ? 
												'fa-check' : 'fa-envelope-o'"></span><small> ) </small>
									</a>
								</div>
								<div class="row hide-overflow">
									<small ng-class="!player.query.referrer ? 'text-muted' : ''"
										title="Primeiro amigo (provável referer)"> <span class="fa fa-user"></span> <a
										target="_blank"
										ga="'send', 'event', 'erep', 'click', 'referer'"
										ng-href="{{player.query.referrer}}">
											{{player.query['referrer/_title']}} </a>
									</small>
								</div>
								<div class="row hide-overflow">
									<small ng-class="!player.query.party ? 'text-muted' : ''"
										title="Partido"> <span class="fa fa-angellist"></span>
										<a target="_blank"
										ga="'send', 'event', 'erep', 'click', 'party'"
										ng-href="{{player.query.party}}">{{player.query['party/_text']}}</a>
									</small>
								</div>
								<div class="row hide-overflow">
									<small ng-class="!player.query.mu ? 'text-muted' : ''"
										title="Unidade Militar"> <span class="fa fa-flag-o"></span>
										<a target="_blank" ga="'send', 'event', 'erep', 'click', 'mu'"
										ng-href="{{player.query.mu}}">{{player.query['mu/_text']}}</a>
									</small>
								</div>
								<div class="row hide-overflow">
									<small ng-class="!player.query.newspaper ? 'text-muted' : ''"
										title="Jornal"> <span class="fa fa-newspaper-o"></span>
										<a target="_blank"
										ga="'send', 'event', 'erep', 'click', 'newspaper'"
										ng-href="{{player.query.newspaper}}">{{player.query['newspaper/_text']}}</a>
									</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<span class="pull-left" ng-if="user && $storage.messagesSent">
						{{$storage.messagesSent}} mensagens enviadas ({{$session.messagesSent}} nessa sessão)
					</span>
					<button type="button" class="btn btn-default"
						title="Atualizar status online" ng-click="execApi()" ng-if="user">
						<span class="fa fa-refresh"></span>
					</button>
					<button type="button" class="btn btn-success" data-dismiss="modal"
						ga="[
							 ['send', 'event', 'button', 'click', 'close'],
							 ['send', 'pageview', '/']
							]">
						Fechar</button>
				</div>
			</div>
		</div>
	</div>


	<script
		src="//cdn.jsdelivr.net/g/jquery,
									bootstrap,
									angularjs(angular.min.js+angular-resource.min.js+angular-cookies.min.js),
									highcharts(highcharts.js+modules/exporting.js+modules/no-data-to-display.js)
			"></script>
	<script src="//cdn.import.io/js/2.0.0/importio.js"></script>
	<script src="/js/all.ycomp.js"></script>
</body>
</html>